# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Data
data/
*.npy
*.pt
*.pth
*.zip
*.gz

# Results and Artifacts
results/
*.png
*.jpg
*.jpeg

# Project 3 - RAG generated outputs
vector_store/
eval_results/
*.faiss

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
venv/
